<ion-content [fullscreen]="true">

  <div class="j-card">
    <ion-row>
      <ion-col size="0.5" style="background-color: black;"></ion-col>
      <ion-col size="7.5">
        <ion-list class="j-list">

          <ion-card-title class="j-card-title" style="text-align: center; " class="ion-no-padding">
            <ion-item lines="full">
              <ion-label class="j-header">
                Logo da revenda <ion-text color="danger">*</ion-text>
              </ion-label>
            </ion-item>
          </ion-card-title>

          <ion-slides>
            <ion-slide>
              <input required type="file" id="resaleCoverPhoto" class="fileInput" (change)="inputResaleLogo($event)"
                name="resaleCoverPhoto" />

              <label style="text-align: center; height: 120px;" for="resaleCoverPhoto" *ngIf="!logo">
                <ion-card style="justify-content: center;">
                  <ion-item class="ion-text-center ion-padding-top" style="height: 100px; width: 400px; display: flex;"
                    lines="none">
                    <ion-label text-wrap style="margin-top: 0px;">
                      <h3>
                        <label style="font-size: 15px;">Adicionar logo da revenda</label>
                      </h3>

                      <h2>
                        <ion-icon name="image-outline" style="font-size: 40px; margin-top: 15px;"></ion-icon>
                      </h2>
                    </ion-label>
                  </ion-item>
                </ion-card>
              </label>

              <label style="text-align: center; height: 120px;" for="resaleCoverPhoto" *ngIf="coverLoaded">
                <ion-card style="height: 100px; display: flex; align-items: center; justify-content: center;">
                  <ion-img id="idimage" *ngIf="logo" [src]="logo" style="height: 100px"></ion-img>
                </ion-card>
              </label>
            </ion-slide>
          </ion-slides>
        </ion-list>

        <ion-list class="j-list">

          <ion-card-title class="j-card-title" style="text-align: center; " class="ion-no-padding">
            <ion-item lines="full">
              <ion-label class="j-header">
                Selecione a imagem do nosso banco <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-searchbar style="width: 250px;" class="ion-float-right" debounce="500" (ionChange)="search()"
                [(ngModel)]="filter" placeholder="Filtrar imagens">
              </ion-searchbar>
            </ion-item>
          </ion-card-title>

          <ion-row style="margin-top: 10px;">
            <!-- <ion-button class="ion-float-right button-left">
              <ion-icon name="chevron-back-outline" class="buttom-left"></ion-icon>
            </ion-button> -->
            <ion-slides [options]="imagesOptions" class="overflow">
              <ion-slide *ngFor="let img of images1; let indexOfElement = index" style="text-align: center"
                class="scrollVertically">
                <div [class]="this.src === img?.file?.pt_BR?.url ? 'border' : null" class="figContainer">
                  <ion-img class="image" [style.backgroundImage]="'url(' + img?.file?.pt_BR?.thumb_url + ')'"
                    (click)="changeImg(indexOfElement,true)">
                  </ion-img>
                  <label>{{img?.name?.pt_BR}}</label>
                </div>
              </ion-slide>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-slides>

          </ion-row>
          <ion-row>
            <!-- <ion-button class="ion-float-right button-left">
              <ion-icon name="chevron-back-outline" class="buttom-left"></ion-icon>
            </ion-button> -->
            <ion-slides [options]="imagesOptions" class="overflow">
              <ion-slide *ngFor="let img of images2; let indexOfElement = index" style="text-align: center">
                <div [class]="this.src === img?.file?.pt_BR?.url ? 'border' : null" class="figContainer">
                  <ion-img class="image" [style.backgroundImage]="'url(' + img?.file?.pt_BR?.thumb_url + ')'"
                    (click)="changeImg(indexOfElement,false)">
                  </ion-img>
                  <label>{{img?.name?.pt_BR}}</label>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-row>

        </ion-list>

        <div style="padding: 3px; margin: 16px;">

          <ion-row style="display: flex; justify-content: center;">
            <ion-col size="2.6">
              <ion-item style="border: solid 1px lightgray; border-radius: 6px;">
                <ion-label position="floating">Digite algo</ion-label>
                <ion-input [(ngModel)]="desc"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="2.6">
              <ion-grid class="ion-no-padding ion-no-margin" style="background-color: transparent; display: flex;
            justify-content: center;">
                <ion-row class=" ion-no-padding ion-no-margin">
                  <ion-radio-group class="ion-no-padding ion-no-margin">
                    <ion-col size="6">
                      <ion-item lines="none" (click)="fontColor = 'white'" class="ion-no-padding ion-no-margin"
                        style="--background: #f8f8f8;">
                        <ion-label>Branco</ion-label>
                        <ion-radio slot="start" value="white"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col size="6">
                      <ion-item lines="none" (click)="fontColor = 'black'" class="ion-no-padding ion-no-margin"
                        style="--background: #f8f8f8;">
                        <ion-label>Preto</ion-label>
                        <ion-radio slot="start" value="black"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-radio-group>
                </ion-row>
              </ion-grid>
            </ion-col>

            <ion-col size="2.6">
              <ion-item style="border: solid 1px lightgray; border-radius: 6px;">
                <ion-label>Posição do texto</ion-label>
                <ion-select interface="popover" [(ngModel)]="descPosition" value="center">
                  <ion-select-option value="center">Centralizado</ion-select-option>
                  <ion-select-option value="top-right">Superior direito</ion-select-option>
                  <ion-select-option value="top-left">Superior esquerdo</ion-select-option>
                  <ion-select-option value="bottom-right">Inferior direito</ion-select-option>
                  <ion-select-option value="bottom-left">Inferior esquerdo</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

          </ion-row>

          <ion-col class="centerCol">
            <ion-button class="j-button" (click)="drawImage()" [disabled]="!src">Gerar imagem</ion-button>
          </ion-col>
        </div>

      </ion-col>

      <ion-col size="4">

        <ion-list class="j-list">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <canvas id="myCanvas"
                style="border: 1px solid var(--ion-color-primary); border-radius: 5px; width: 450px; padding: 5px;"></canvas>
            </ion-row>

            <ion-row class="centerCol">
              <ion-col size="6" class="centerCol">
                <canvas id="1" (click)="changeMainframe($event)" name="CPreview"
                  style="border: 1px solid black; width: 200px; height: 100px; margin: 20px"></canvas>
              </ion-col>
              <ion-col size="6" class="centerCol">
                <canvas id="2" (click)="changeMainframe($event)" name="CPreview"
                  style="border: 1px solid black; width: 200px; height: 100px; margin: 20px"></canvas>
              </ion-col>
            </ion-row>

            <ion-row class="centerCol">
              <ion-col size="6" class="centerCol">
                <canvas id="3" (click)="changeMainframe($event)" name="CPreview"
                  style="border: 1px solid black; width: 200px; height: 100px; margin: 20px"></canvas>
              </ion-col>
              <ion-col size="6" class="centerCol">
                <canvas id="4" (click)="changeMainframe($event)" name="CPreview"
                  style="border: 1px solid black; width: 200px; height: 100px; margin: 20px"></canvas>
              </ion-col>
            </ion-row>

            <ion-row class="centerCol">
              <ion-button class="j-button" expand="block" (click)="showModal()" [disabled]="!canvasOk">Baixar imagem
              </ion-button>
            </ion-row>
          </ion-grid>

        </ion-list>

      </ion-col>
    </ion-row>
  </div>
</ion-content>