#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.centerCol {
  align-items: center;
  justify-content: center;
  display: flex;
}

.border {
  border: solid 3px orange;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput label {
  color: #717171;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  cursor: pointer;
}

.image {
  width: 183px;
  height: 137px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.figContainer{
  margin:0px 20px;
  display:inline-block;
  text-decoration:none;
  color:black;
  font-size: medium;
}